html {
  height: 100%;
}
body {
  margin: 0;
}
main {
  padding-top: 3em;
  width: 95%;
  margin: 0 auto;
}
.catalog-head {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  color: #2c3e50;
  margin-top: 2em;
  margin-left: 0.5em;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catalog>a{
  text-decoration: none;
}
.catalog-element>p:hover{
  color: red;
}
.catalog-element {
  margin-top: 1em;
}
.catalog-element > p {
  margin-top: 0;
  margin-bottom: 2em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  color: #000;
}
@media screen and (max-width: 830px) {
  .catalog-head{
    font-size: 4vw;
  }
  .catalog-element > p{
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 450px) {
  .catalog-element>img{
    max-width: 80%;
  }
  .catalog-element > p{
    font-size: 3vw;
  }
  .catalog-element{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
